<section class="meal-list">
  <div class="actions">
    <button
      class="btn new-recipe"
      [routerLink]="['new-recipe/edit']"
      (click)="addNewRecipe()"
    >
      New recipe
    </button>
    <button
      class="btn filter"
      (click)="mealFilterService.filtersAdded = !mealFilterService.filtersAdded"
    >
      Filter
    </button>
  </div>
  <!-- filter -->
  <app-meal-filter
    class="filter-menu"
    *ngIf="mealFilterService.filtersAdded"
  ></app-meal-filter>
  <!-- list -->
  <div class="list">
    <input
      class="input meal-search"
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search meals by name..."
    />
    <app-meal-item
      *ngFor="
        let meal of allMeals$
          | async
          | mealFilter : mealFilterService.mealFilterOptions
          | mealSearch : searchTerm
      "
      [meal]="meal"
      [routerLink]="['/meals/', meal.name]"
      routerLinkActive="router-link-active"
      (click)="changeSelectedMeal(meal)"
    ></app-meal-item>
  </div>
</section>
