.meal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 70vh;
  overflow: scroll;
  padding: 0 1rem;
}

.new-recipe {
  background-color: var(--color-secondary);
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.btn.filter {
  background-color: var(--color-info);
}

.filter-menu {
  position: fixed;
}
