.meal-picture-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.meal-picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.meal-edit {
  background-color: var(--color-surface);
  padding: 2em;
  border-radius: var(--radius);
  border: solid 3px var(--color-border);
  width: 30vw;
}

.meal-img-src {
  width: 100%;
  align-items: center;
}

.meal-img-src > input {
  width: 80%;
}

.formGroup {
  padding-top: 0.5rem;
}

.input {
  margin: 0.2rem 0;
}

.btn {
  margin: 0.5rem 0;
  background-color: var(--color-secondary);
}

.submit {
  background-color: var(--color-primary);
}

.textarea-div {
  display: flex;
  flex-direction: column;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: solid 2px red;
}

.meal-ingredients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  width: 80px;
}

.vitamin-input,
.ingredient-div {
  display: flex;
  align-items: center;
}

.delete-vitamin,
.delete-ingredient {
  background-color: var(--color-danger);
  margin: 0 1rem;
  height: 40px;
  display: flex;
  align-items: center;
}

.cancel-edit {
  background-color: var(--color-danger);
  margin-left: 1rem;
}
