<form
  class="meal-edit"
  *ngIf="mealSelected"
  [formGroup]="mealEdit!"
  (ngSubmit)="onSubmit()"
>
  <div class="img-info" formGroupName="imgInfo">
    <div class="meal-picture-div">
      <img
        class="meal-picture"
        [src]="previewImgSrc"
        [alt]="mealSelected.name"
        *ngIf="imgSrcProvided"
      />
      <p class="meal-img-src">
        Img url:
        <input class="input" type="text" formControlName="imgSrc" />
      </p>
    </div>
  </div>

  <div class="details" formGroupName="details">
    <h3>Main info of the meal</h3>

    <div class="about-meal" formGroupName="aboutMeal">
      <p>
        Name:
        <input
          type="text"
          class="input meal-name"
          [placeholder]="mealSelected.name"
          formControlName="name"
        />
      </p>
      <div class="textarea-div">
        Description:
        <textarea
          class="textarea"
          class="input meal-description"
          [placeholder]="mealSelected.description"
          formControlName="description"
        ></textarea>
      </div>
      <p>
        Meal type:
        <select formControlName="mealType">
          <option *ngFor="let type of mealTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </p>
      <div
        class="nutrition-facts formGroup"
        *ngIf="mealSelected.nutritionFacts"
        formGroupName="nutritionFacts"
      >
        <h3>Nutrition facts</h3>
        <div>
          <p class="short-descriptions">
            Calories (g):
            <input
              class="input"
              type="number"
              [placeholder]="mealSelected.nutritionFacts.calories + 'g'"
              formControlName="calories"
            />
          </p>
          <p>
            Protein (g):
            <input
              class="input"
              type="number"
              [placeholder]="mealSelected.nutritionFacts.calories + 'g'"
              formControlName="protein"
            />
          </p>
          <p>
            Fats (g):
            <input
              class="input"
              type="number"
              [placeholder]="mealSelected.nutritionFacts.calories + 'g'"
              formControlName="fats"
            />
          </p>
          <p>
            Carbohydrates (g):
            <input
              class="input"
              type="number"
              [placeholder]="mealSelected.nutritionFacts.calories + 'g'"
              formControlName="carbohydrates"
            />
          </p>
          <div formArrayName="vitamins" class="formGroup">
            <h3 *ngIf="vitamins.length > 0">Vitamins:</h3>
            <div
              class="vitamin-input"
              *ngFor="let vitamin of vitamins.controls; let i = index"
            >
              <input
                class="input"
                type="text"
                [formControlName]="i"
                placeholder="add a vitamin..."
              />
              <button
                class="btn delete-vitamin"
                type="button"
                (click)="this.vitamins.removeAt(i)"
              >
                x
              </button>
            </div>
            <button class="btn" type="button" (click)="addVitamin()">
              Add vitamins
            </button>
          </div>
        </div>
      </div>
      <div class="meal-ingredients formGroup" formGroupName="mealIngredients">
        <div class="ingredients" formArrayName="ingredients">
          <h3 *ngIf="ingredients.controls.length > 0">Ingredients</h3>
          <div
            class="ingredient-div"
            *ngFor="let ingredient of ingredients.controls; let i = index"
          >
            <input
              type="text"
              class="input ingredient"
              [formControlName]="i"
              placeholder="add an ingredient..."
            />
            <button
              class="btn delete-ingredient"
              type="button"
              (click)="ingredients.removeAt(i); quantities.removeAt(i)"
            >
              x
            </button>
          </div>
        </div>

        <div class="quantities" formGroupName="quantities">
          <h3 *ngIf="ingredients.controls.length > 0">Quantity</h3>
          <input
            *ngFor="let quantity of quantities.controls; let i = index"
            id="quantity"
            name="quantity"
            class="input quantity"
            type="number"
            [formControlName]="i"
          />
        </div>
      </div>
      <button class="btn" type="button" (click)="addIngredient()">
        Add ingredient
      </button>
    </div>
  </div>
  <div class="actions">
    <button class="btn submit" type="submit" [disabled]="mealEdit?.invalid">
      save
    </button>
    <button class="btn cancel-edit" type="button" (click)="cancelEdit()">
      cancel
    </button>
  </div>
</form>
