.meal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.meal-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: var(--shadow-elevated);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-type {
  font-style: italic;
  font-size: var(--font-sm);
}
