<div class="meal-item card" *ngIf="!skeleton">
  <div class="details">
    <div>
      <h3 class="meal-name">{{ meal.name }}</h3>
      <p class="meal-type">Good for {{ meal.type }}</p>
    </div>
    <div class="nutrition-facts">
      <p class="short-descriptions">
        Calories: {{ meal.nutritionFacts.calories }}g
      </p>
      <p>Protein: {{ meal.nutritionFacts.protein }}g</p>
      <p>
        Fats:
        {{ meal.nutritionFacts.fats }}g
      </p>
    </div>
  </div>
  <div class="image">
    <img
      class="meal-img"
      [src]="meal.imgSrc"
      [alt]="meal.name"
      [ngStyle]="{ 'border-color': borderColor }"
    />
  </div>
</div>

<div class="skeleton-card" *ngIf="skeleton">
  <div class="details">
    <div>
      <div class="skeleton skeleton-text title"></div>
      <div class="skeleton skeleton-text subtitle"></div>
    </div>
    <div class="nutrition-facts">
      <div class="skeleton skeleton-text small"></div>
      <div class="skeleton skeleton-text small"></div>
      <div class="skeleton skeleton-text small"></div>
    </div>
  </div>
  <div class="image">
    <div class="skeleton skeleton-circle"></div>
  </div>
</div>
