<div class="meal-item card">
  <div class="details">
    <div>
      <h3 class="meal-name">{{ meal.name }}</h3>
      <p class="meal-type">Good for {{ meal.type }}</p>
    </div>
    <div class="nutrition-facts">
      <p class="short-descriptions">
        Calories: {{ meal.nutritionFacts.calories }}g
      </p>
      <p>Protein: {{ meal.nutritionFacts.protein }}g</p>
      <p>
        Fats:
        {{ meal.nutritionFacts.fats }}g
      </p>
    </div>
  </div>
  <div class="image">
    <img
      class="meal-img"
      [src]="meal.imgSrc"
      [alt]="meal.name"
      [ngStyle]="{ 'border-color': borderColor }"
    />
  </div>
</div>
