<div class="meal-item card">
  <div class="details">
    <div>
      <h3 class="meal-name">{{ meal.getName() }}</h3>
      <p class="meal-type">Good for {{ meal.getType() }}</p>
    </div>
    <div class="nutrition-facts">
      <p class="short-descriptions">
        Calories: {{ meal.getNutritionFacts().calories }}g
      </p>
      <p>Protein: {{ meal.getNutritionFacts().protein }}g</p>
      <p>
        Fats:
        {{ meal.getNutritionFacts().fats }}g
      </p>
    </div>
  </div>
  <div class="image">
    <img class="meal-img" [src]="meal.getImgSrc()" [alt]="meal.getName()" />
  </div>
</div>
