<header>
  <nav class="main-nav">
    <div class="left-nav">
      <div class="logo" [routerLink]="['/']">
        <h1>RepEats</h1>
      </div>
      <div class="navigation">
        <ul class="pages">
          <li class="meals">
            <a [routerLink]="['/meals']" routerLinkActive="active">Meals</a>
          </li>
          <li class="shopping-list">
            <a [routerLink]="['/shopping-list']" routerLinkActive="active"
              >Shopping List</a
            >
          </li>
          <li class="authentication sign-up" *ngIf="!(isLoggedIn$ | async)">
            <a
              [routerLink]="['/authentication', 'sign-in']"
              routerLinkActive="active"
              >sign-in</a
            >
          </li>
          <li class="authentication sign-up" *ngIf="!(isLoggedIn$ | async)">
            <a
              [routerLink]="['/authentication', 'sign-up']"
              routerLinkActive="active"
              >sign-up</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="right-nav">
      <button class="btn logout" *ngIf="isLoggedIn$ | async" (click)="logout()">
        Logout
      </button>
    </div>
  </nav>
</header>
