/* Fixed Header */
header {
  background-color: var(--color-secondary);
  color: var(--color-text);
  box-shadow: var(--shadow-elevated);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1.5rem 2rem;
}

/* Reset body layout so it doesn’t center everything */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Content padding to not go under header */
.content-area {
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 6rem; /* should be > header height */
}

/* Nav Styling */
a {
  text-decoration: none;
  color: var(--color-text);
}

li:hover {
  opacity: 0.9;
  cursor: pointer;
}

li:active {
  opacity: 0.7;
}

.main-nav {
  font-size: var(--font-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: var(--font-xl);
}

.logo:hover {
  cursor: pointer;
}

.logo:active {
  opacity: 0.7;
}

.pages {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn {
  background-color: var(--color-info);
}

.manage {
  background-color: var(--color-primary);
}

.active {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--color-text);
}

.logout {
  background-color: var(--color-danger-dark);
  color: white;
}

.hamburger {
  display: none;
  background-color: var(--color-primary);
}
.logout.navigation {
  display: none;
}

@media screen and (max-width: 700px) {
  .main-nav {
    align-items: start;
  }
  .hamburger {
    display: inline-block;
  }
  .left-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navigation {
    display: none;
    transition: max-height 0.5s ease;
  }

  .pages,
  .navigation.show {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .active {
    padding-bottom: 0.3rem;
  }

  .logout.navigation.show {
    display: inline-block;
  }
  .right-nav > .logout {
    display: none;
  }
}
