.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.search-div {
  display: flex;
  gap: 1rem;
}

.shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  margin-top: 7rem;
}
table {
  width: 80vw;
  table-layout: fixed;
  margin-bottom: 2rem;
}

table,
th,
tr,
td {
  border-collapse: collapse;
  padding: 1rem 1rem;
  border: 1px solid var(--color-text);
}

th {
  background-color: var(--color-warning);
}

td {
  text-align: center;
}
